.newTaskContainer
  border: 1px solid black
  padding: 15px
  display: flex
  flex-direction: column
  gap: 10px
  position: relative

.input
  padding: 10px
  border-radius: 5px
  border: none

.deadlineInput
  width: 18px
  position: absolute
  right: 22px
  top: 24px
  border-radius: 5px
  border: none

  .deadlineInput:hover
    cursor: pointer

.error
  color: red
  font-size: 14px
  position: absolute
  right: 45px
  top: 25px
