.taskListContainer
  flex-grow: 1
  border: 1px solid black
  padding: 10px
  display: flex
  flex-direction: column
  gap: 10px

.taskEl
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between

.editingButtons
  display: flex
  flex-direction: row
  justify-content: space-around
  gap: 5px
